.titulo{padding-left: 1cm;
    font-size: 50px;font-weight: 300;font-family: Arial, Helvetica, sans-serif;
    color:purple;}

    
.txtroxo{color:#E46BF4;padding-left: 1cm;}



.paragraph{line-height: 30px;
color:blue;
text-align-last: left;
padding-left: 1cm;
padding-right: 20cm;}