body{
    background-color: rgb(174, 95, 95);
}

h1{
    color:red;
    margin-left: 100px;
    text-shadow: 1px .5px 4px blue;
}

.container{
    
    width: 450px;
    height:450px;
    background-color: palevioletred;
    border: 2px solid rgb(33, 119, 118);
    border-radius: 5%;
}

/*----------------------------------------------
SELECT ALL THE SQUARES IN THE ARRAY
------------------------------------------------*/

.container .squares:nth-child(-n+4) {
    background-image: url("../images/Icons/icon2.png");
    color:rgb(18, 66, 66);
    float:left;
    width: 100px;
    height: 100px;
    margin:5px;
    border: 1px solid rgb(152, 12, 12);
    border-radius: 25%;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}


/*----------------------------------------------
SELECT ALL SQUARES PARAGRAPHS IN THE ARRAY
------------------------------------------------*/

.squares:nth-child(-n+4) p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1. 5em;
    font-weight: 900;
    text-align: center;
    margin:0;
    text-shadow: 2px 1px 4px  rgb(95, 218, 124);
}
/*----------------------------------------------
INDIVIDUALLY SELECT A SQUARE IN THE ARRAY
------------------------------------------------*/

.squares:nth-child(1){
    background:#e31818;
}

.squares:nth-child(2){
    background:#e64f18;
}

.squares:nth-child(3){
    background:#24dd2d;
}

.squares:nth-child(4){
    background:#231dc5;
}

/*----------------------------------------------
HOVER, TRANSLATE & TRANSFORM EFFECTS
------------------------------------------------*/
.squares:nth-child(-n+4):hover{
    background-image: url("../images/Icons/icon1.png");
    transform: scale(.5);
    animation-name: race;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5, .2, .3, 2);
}

.squares:nth-child(1):hover{
    background:#e31881;
}

.squares:nth-child(2):hover{
    background:#d0c11e;
}

.squares:nth-child(3):hover{
    background:#24dddd;
}

.squares:nth-child(4):hover{
    background:#7d18d4;
}



/*----------------------------------------------
ANIMATION EFFECT
------------------------------------------------*/
@keyframes race{
0%, 100% {
    transform: translateY(0px);
    background-image: url("../images/Icons/icon1.png");)
}
    50%{
        transform: translateY(300px);
    }

}

